Global

html {
	scroll-behavior: smooth;
}

body{
  height: 100vh;
  background: whitesmoke !important;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

body.menu-open {
	overflow: hidden;
}

.cover {
	top: 0; right: 0; bottom: 0; left: 0;
}

.bg-cover {
	background-size: cover;
	background-position: center;
}

.bg-cover-framed {
	margin: 100px;
}

.bg-overlay {
	opacity: 0.9;
}

.image-banner {
	height: 400px;
}

.object-fit-cover {
	object-fit: cover;
}

.top-padding {
	height: 150px;
}

.z-index-1 {
	z-index: 1;
}

.z-index-2 {
	z-index: 2;
}

.z-index-3 {
	z-index: 3;
}

.z-index-minus-1 {
	z-index: -1!important;
}


/* Typography */

a, a:hover, a:focus, a.active {
	color: #646464;
	text-decoration: none;
	transition: 0.2s;
}

.link-underlined {
	border-bottom: 2px solid #000;
	font-weight: 400;
	padding-bottom: 5px;
	transition: 0.4s;
}

.link-underlined:hover {
	border-bottom: 2px solid #ceb293;
}

h1,h2,h3,h4,h5,h6 {
	color: #000;
	font-family: 'Constantia', serif;
	font-weight: 400;
	letter-spacing: 0.1rem;
	margin-bottom: 1.5rem;
}

h1,h2 {
	font-size: 45px;
	letter-spacing: 0.28rem;
}

h3 {
	font-size: 35px;
}

h4 {
	font-size: 25px;
}

p, ol, ul {
	margin-bottom: 1.5rem;
}

p:last-child, ol:last-child, ul:last-child {
	margin-bottom: 0;
}

.font-constantia {
	color: #000;
	font-family: 'Constantia', serif;
	font-weight: 400;
	letter-spacing: 0.1rem;

}

.fw-bold, b, strong {
	font-weight: bold;
}

.letter-spacing {
	letter-spacing: 0.1rem;
}

.text-black {
	color: #000;
}



/* Colours */

.bg-black {
	background-color: #000;
}

.bg-blue-light {
	background-color: #CBE1E1;
}

.bg-cream {
	background-color: #F4F3EE;
}

.bg-green {
	background-color: #12443B;
}

.bg-pink {
	background-color: #ECE3E0;
}


/* Bootstrap Grid */

.container, .container-fluid {
	padding-left: 50px;
	padding-right: 50px;
}

.container-fluid {
	max-width: 1920px;
}

.container {
	max-width: 1400px;
}

.row {
	margin-left: -25px;
	margin-right: -25px;
}

.row.no-gutters {
	margin-left: 0;
	margin-right: 0;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  padding-left: 25px;
  padding-right: 25px;
}

.row-pad-xs {
	margin-left: -10px;
	margin-right: -10px;
}

.col-pad-xs {
	padding-left: 10px;
	padding-right: 10px;
}

.row-pad-sm {
	margin-left: -12.5px;
	margin-right: -12.5px;
}

.col-pad-sm {
	padding-left: 12.5px;
	padding-right: 12.5px;
}

.row-pad-lg {
	margin-left: -50px;
	margin-right: -50px;
}

.col-pad-lg {
	padding-left: 50px;
	padding-right: 50px;
}


.row-panels {
	margin-bottom: -50px;
}

.col-panel {
	margin-bottom: 50px;
}

.row-panels-xs {
	margin-bottom: -20px;
}

.col-panel-xs {
	margin-bottom: 20px;
}

.contained-column {
	width: 550px;
}


/* Sections */

section {
	padding-top: 100px;
	padding-bottom: 45px;
}

section.section-lg {
	padding-top: 150px;
	padding-bottom: 130px;
}

section.section-sm {
	padding-top: 50px;
	padding-bottom: 45px;
}


/* Buttons */










